# User-specific files
.vscode/
.idea/
.vs/
*.vcxproj.user
*.vcxproj.filters
*.VC.db
*.VC.opendb

# Build results
[Bb]uild/
[Bb]inaries/
[Dd]erived[Dd]ata[Cc]ache/
[Dd]ist/
[Ii]ntermediate/
[Oo]bj/
[Ss]aved/
[Uu]ser/
*.o
*.obj
*.dll
*.exe
*.pdb
*.idb
*.class
*.war
*.jar
*.pyc
*.lib
*.dylib
*.so
*.a
*.la
*.lo
*.lai

# JetBrains IDEs
.idea
*.iml

# Compiled source files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log

# Precompiled headers
*.gch
*.pch

# Application specific files
*.xcodeproj
*.xcworkspace
*.xcuserdata
*.gradle
*.prefs
*.pidb
*.suo
*.sdf
*.opensdf
*.cache
*.launch
*.tags
*.log
*.userprefs
*.swp
*.swo
*.ilk
*.map
*.exp
*.plg
*.idb
*.pdb
*.opendb

# Folders to ignore
DerivedDataCache/
Intermediate/
Build/
Binaries/
Saved/
SourceArt/**/*.png
SourceArt/**/*.tga
Plugins/*/Intermediate/
Plugins/*/Binaries/
Config/DefaultEditorPerProjectUserSettings.ini
